{{ $project:= site.Data.project }}
{{ if (index site.Data site.Language.Lang).project }}
  {{ $project = (index site.Data site.Language.Lang).project }}
{{ end }}

{{ $name:= $project.longname }}

{{ $sections:= site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
  {{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

{{ $projectLogo:= "/images/default-avatar.png" }}
{{ if $project.logo.main }}
  {{ $projectLogo = $project.logo.main }}
{{ end }}
{{ $projectLogo := resources.Get $projectLogo }}

{{/* apply image processing. don't use "Fit" in svg or gif because its not supported */}}
{{ if and $projectLogo (and (ne $projectLogo.MediaType.SubType "svg") ( ne $projectLogo.MediaType.SubType "gif")) }}
  {{ $projectLogo = $projectLogo.Fit "148x148" }}
{{ end }}

<div class="container-fluid home" id="home">
    <span class="on-the-fly-behavior"></span>
  <div
    id="backgroundHome"
    class="background container-fluid"
  ></div>
  <div class="container content text-center">
    <img src="{{ $projectLogo.RelPermalink }}"
      class="mx-auto d-block img-fluid"
      alt="Project Logo"
    />
    <h1 class="greeting">{{ $name }}</h1>
    <!-- {{ if $project.subtitle }}
      <h2 class="greeting-subtitle">{{ $project.subtitle }}</h2>
    {{ end }} -->
    <div class="typing-carousel">
      <span id="ityped" class="ityped"></span>
      <span class="ityped-cursor"></span>
    </div>
    <ul id="typing-carousel-data">
      {{ if $project.summary }}
        {{ range $project.summary }}
          <li>{{ . }}</li>
        {{ end}}
      {{ end }}
    </ul>
    {{ if $sections }}
      {{ range first 1 (where (sort $sections "section.weight") ".section.enable" true) }}
        {{ $sectionID := replace (lower .section.name) " " "-"  }}
        {{ if .section.id }}
          {{ $sectionID = .section.id }}
        {{ end }}
        <a href="#{{ $sectionID }}" class="arrow-center" aria-label="{{ i18n "read" }} {{ i18n "more" }} - {{ $name }}"><i class="arrow bounce fa fa-chevron-down"></i></a>
      {{ end }}
    {{ end }}
  </div>
</div>