{{ $project:= site.Data.project }}
{{ if (index site.Data site.Language.Lang).project }}
{{ $project = (index site.Data site.Language.Lang).project }}
{{ end }}

{{ $name:= $project.longname }}
{{ $description:= $project.description }}

{{ $sections:= site.Data.sections }}
{{ if (index site.Data site.Language.Lang).sections }}
{{ $sections = (index site.Data site.Language.Lang).sections }}
{{ end }}

<div class="container-fluid intro" id="intro">
  <style>
    video {
      width: 45vw;
      /* 25% of the viewport width */
      height: 45vh;
      /* 25% of the viewport height */
    }

    .left-half,
    .right-half {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .left-half {
        padding: 10%; /* Border of 20% on each side */
            box-sizing: border-box; 
    }
  </style>
    <span class="on-the-fly-behavior"></span>
    <div
      id="backgroundIntro"
      class="background container-fluid"
    ></div>
  <div class="row content">
    <div class="col-md-6 stretch-left left-half">
      <span class="description">
      {{ $description | markdownify }}
    </span>
    </div>
    <div class="col-md-6 right-half d-flex justify-content-center align-items-center">
      <video controls class="video" autoplay loop>
        <source src="videos/screencast.webm" type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    {{ if $sections }}
    {{ range first 2 (where (sort $sections "section.weight") ".section.enable" true) }}
      {{ $sectionID := replace (lower .section.name) " " "-"  }}
      {{ if .section.id }}
        {{ $sectionID = .section.id }}
      {{ end }}
      <a href="#{{ $sectionID }}" class="arrow-center" aria-label="{{ i18n "read" }} {{ i18n "more" }} - {{ $name }}"><i class="arrow bounce fa fa-chevron-down"></i></a>
    {{ end }}
  {{ end }}
  </div>
</div>